@{
    ViewData["Title"] = "Add Form Page";
}

<div class="text-center">
        <form action="Insert">
             <input type="text" id="id" name="id">Id
             <input type="text" id="name" name="name">name
             <input type="text" id="course" name="course">course
             <button type="submit" >Submit</button>
        </form>


</div>